.dart_tool/package_config.json
.dart_tool/chrome-device/Default/24f707c8-0d00-40ab-b1a6-63242dcbd488.tmp
.dart_tool/chrome-device/Default/Affiliation Database
.dart_tool/chrome-device/Default/Affiliation Database-journal
.dart_tool/chrome-device/Default/BrowsingTopicsSiteData
.dart_tool/chrome-device/Default/BrowsingTopicsSiteData-journal
.dart_tool/chrome-device/Default/BrowsingTopicsState
.dart_tool/chrome-device/Default/DIPS
.dart_tool/chrome-device/Default/DIPS-journal
.dart_tool/chrome-device/Default/Favicons
.dart_tool/chrome-device/Default/Favicons-journal
.dart_tool/chrome-device/Default/heavy_ad_intervention_opt_out.db
.dart_tool/chrome-device/Default/heavy_ad_intervention_opt_out.db-journal
.dart_tool/chrome-device/Default/History
.dart_tool/chrome-device/Default/History-journal
.dart_tool/chrome-device/Default/LOCK
.dart_tool/chrome-device/Default/LOG
.dart_tool/chrome-device/Default/LOG.old
.dart_tool/chrome-device/Default/Login Data
.dart_tool/chrome-device/Default/Login Data For Account
.dart_tool/chrome-device/Default/Login Data For Account-journal
.dart_tool/chrome-device/Default/Login Data-journal
.dart_tool/chrome-device/Default/Network Action Predictor
.dart_tool/chrome-device/Default/Network Action Predictor-journal
.dart_tool/chrome-device/Default/Preferences
.dart_tool/chrome-device/Default/PreferredApps
.dart_tool/chrome-device/Default/README
.dart_tool/chrome-device/Default/Secure Preferences
.dart_tool/chrome-device/Default/SharedStorage
.dart_tool/chrome-device/Default/SharedStorage-wal
.dart_tool/chrome-device/Default/Shortcuts
.dart_tool/chrome-device/Default/Shortcuts-journal
.dart_tool/chrome-device/Default/Top Sites
.dart_tool/chrome-device/Default/Top Sites-journal
.dart_tool/chrome-device/Default/trusted_vault.pb
.dart_tool/chrome-device/Default/Visited Links
.dart_tool/chrome-device/Default/Web Data
.dart_tool/chrome-device/Default/Web Data-journal
.dart_tool/chrome-device/Default/AutofillStrikeDatabase/LOCK
.dart_tool/chrome-device/Default/AutofillStrikeDatabase/LOG
.dart_tool/chrome-device/Default/AutofillStrikeDatabase/LOG.old
.dart_tool/chrome-device/Default/BudgetDatabase/LOCK
.dart_tool/chrome-device/Default/BudgetDatabase/LOG
.dart_tool/chrome-device/Default/BudgetDatabase/LOG.old
.dart_tool/chrome-device/Default/ClientCertificates/LOCK
.dart_tool/chrome-device/Default/ClientCertificates/LOG
.dart_tool/chrome-device/Default/ClientCertificates/LOG.old
.dart_tool/chrome-device/Default/Download Service/EntryDB/LOCK
.dart_tool/chrome-device/Default/Download Service/EntryDB/LOG
.dart_tool/chrome-device/Default/Download Service/EntryDB/LOG.old
.dart_tool/chrome-device/Default/Extension Rules/000003.log
.dart_tool/chrome-device/Default/Extension Rules/CURRENT
.dart_tool/chrome-device/Default/Extension Rules/LOCK
.dart_tool/chrome-device/Default/Extension Rules/LOG
.dart_tool/chrome-device/Default/Extension Rules/MANIFEST-000001
.dart_tool/chrome-device/Default/Extension Scripts/000003.log
.dart_tool/chrome-device/Default/Extension Scripts/CURRENT
.dart_tool/chrome-device/Default/Extension Scripts/LOCK
.dart_tool/chrome-device/Default/Extension Scripts/LOG
.dart_tool/chrome-device/Default/Extension Scripts/MANIFEST-000001
.dart_tool/chrome-device/Default/Extension State/000003.log
.dart_tool/chrome-device/Default/Extension State/CURRENT
.dart_tool/chrome-device/Default/Extension State/LOCK
.dart_tool/chrome-device/Default/Extension State/LOG
.dart_tool/chrome-device/Default/Extension State/LOG.old
.dart_tool/chrome-device/Default/Extension State/MANIFEST-000001
.dart_tool/chrome-device/Default/Feature Engagement Tracker/AvailabilityDB/LOCK
.dart_tool/chrome-device/Default/Feature Engagement Tracker/AvailabilityDB/LOG
.dart_tool/chrome-device/Default/Feature Engagement Tracker/AvailabilityDB/LOG.old
.dart_tool/chrome-device/Default/Feature Engagement Tracker/EventDB/LOCK
.dart_tool/chrome-device/Default/Feature Engagement Tracker/EventDB/LOG
.dart_tool/chrome-device/Default/Feature Engagement Tracker/EventDB/LOG.old
.dart_tool/chrome-device/Default/GCM Store/Encryption/000003.log
.dart_tool/chrome-device/Default/GCM Store/Encryption/CURRENT
.dart_tool/chrome-device/Default/GCM Store/Encryption/LOCK
.dart_tool/chrome-device/Default/GCM Store/Encryption/LOG
.dart_tool/chrome-device/Default/GCM Store/Encryption/LOG.old
.dart_tool/chrome-device/Default/GCM Store/Encryption/MANIFEST-000001
.dart_tool/chrome-device/Default/Local Storage/leveldb/000003.log
.dart_tool/chrome-device/Default/Local Storage/leveldb/CURRENT
.dart_tool/chrome-device/Default/Local Storage/leveldb/LOCK
.dart_tool/chrome-device/Default/Local Storage/leveldb/LOG
.dart_tool/chrome-device/Default/Local Storage/leveldb/LOG.old
.dart_tool/chrome-device/Default/Local Storage/leveldb/MANIFEST-000001
.dart_tool/chrome-device/Default/Network/Cookies
.dart_tool/chrome-device/Default/Network/Cookies-journal
.dart_tool/chrome-device/Default/Network/Network Persistent State
.dart_tool/chrome-device/Default/Network/NetworkDataMigrated
.dart_tool/chrome-device/Default/Network/Reporting and NEL
.dart_tool/chrome-device/Default/Network/Reporting and NEL-journal
.dart_tool/chrome-device/Default/Network/TransportSecurity
.dart_tool/chrome-device/Default/Network/Trust Tokens
.dart_tool/chrome-device/Default/Network/Trust Tokens-journal
.dart_tool/chrome-device/Default/PersistentOriginTrials/LOCK
.dart_tool/chrome-device/Default/PersistentOriginTrials/LOG
.dart_tool/chrome-device/Default/PersistentOriginTrials/LOG.old
.dart_tool/chrome-device/Default/Safe Browsing Network/NetworkDataMigrated
.dart_tool/chrome-device/Default/Safe Browsing Network/Safe Browsing Cookies
.dart_tool/chrome-device/Default/Safe Browsing Network/Safe Browsing Cookies-journal
.dart_tool/chrome-device/Default/Segmentation Platform/SegmentInfoDB/LOCK
.dart_tool/chrome-device/Default/Segmentation Platform/SegmentInfoDB/LOG
.dart_tool/chrome-device/Default/Segmentation Platform/SegmentInfoDB/LOG.old
.dart_tool/chrome-device/Default/Segmentation Platform/SignalDB/LOCK
.dart_tool/chrome-device/Default/Segmentation Platform/SignalDB/LOG
.dart_tool/chrome-device/Default/Segmentation Platform/SignalDB/LOG.old
.dart_tool/chrome-device/Default/Segmentation Platform/SignalStorageConfigDB/LOCK
.dart_tool/chrome-device/Default/Segmentation Platform/SignalStorageConfigDB/LOG
.dart_tool/chrome-device/Default/Segmentation Platform/SignalStorageConfigDB/LOG.old
.dart_tool/chrome-device/Default/Service Worker/Database/000003.log
.dart_tool/chrome-device/Default/Service Worker/Database/CURRENT
.dart_tool/chrome-device/Default/Service Worker/Database/LOCK
.dart_tool/chrome-device/Default/Service Worker/Database/LOG
.dart_tool/chrome-device/Default/Service Worker/Database/LOG.old
.dart_tool/chrome-device/Default/Service Worker/Database/MANIFEST-000001
.dart_tool/chrome-device/Default/Service Worker/ScriptCache/2cc80dabc69f58b6_0
.dart_tool/chrome-device/Default/Service Worker/ScriptCache/4cb013792b196a35_0
.dart_tool/chrome-device/Default/Service Worker/ScriptCache/ba23d8ecda68de77_0
.dart_tool/chrome-device/Default/Service Worker/ScriptCache/f1cdccba37924bda_0
.dart_tool/chrome-device/Default/Service Worker/ScriptCache/index
.dart_tool/chrome-device/Default/Service Worker/ScriptCache/index-dir/the-real-index
.dart_tool/chrome-device/Default/Session Storage/000003.log
.dart_tool/chrome-device/Default/Session Storage/CURRENT
.dart_tool/chrome-device/Default/Session Storage/LOCK
.dart_tool/chrome-device/Default/Session Storage/LOG
.dart_tool/chrome-device/Default/Session Storage/LOG.old
.dart_tool/chrome-device/Default/Session Storage/MANIFEST-000001
.dart_tool/chrome-device/Default/Sessions/Session_13382540273693053
.dart_tool/chrome-device/Default/Sessions/Session_13382550784242591
.dart_tool/chrome-device/Default/Sessions/Session_13382713359264721
.dart_tool/chrome-device/Default/Sessions/Session_13383063408277756
.dart_tool/chrome-device/Default/Sessions/Tabs_13382550988568654
.dart_tool/chrome-device/Default/Sessions/Tabs_13382713359554979
.dart_tool/chrome-device/Default/Sessions/Tabs_13383063408677493
.dart_tool/chrome-device/Default/Shared Dictionary/db
.dart_tool/chrome-device/Default/Shared Dictionary/db-journal
.dart_tool/chrome-device/Default/Shared Dictionary/cache/index
.dart_tool/chrome-device/Default/Shared Dictionary/cache/index-dir/the-real-index
.dart_tool/chrome-device/Default/Site Characteristics Database/000003.log
.dart_tool/chrome-device/Default/Site Characteristics Database/CURRENT
.dart_tool/chrome-device/Default/Site Characteristics Database/LOCK
.dart_tool/chrome-device/Default/Site Characteristics Database/LOG
.dart_tool/chrome-device/Default/Site Characteristics Database/LOG.old
.dart_tool/chrome-device/Default/Site Characteristics Database/MANIFEST-000001
.dart_tool/chrome-device/Default/Sync Data/LevelDB/000003.log
.dart_tool/chrome-device/Default/Sync Data/LevelDB/CURRENT
.dart_tool/chrome-device/Default/Sync Data/LevelDB/LOCK
.dart_tool/chrome-device/Default/Sync Data/LevelDB/LOG
.dart_tool/chrome-device/Default/Sync Data/LevelDB/LOG.old
.dart_tool/chrome-device/Default/Sync Data/LevelDB/MANIFEST-000001
.dart_tool/chrome-device/Default/WebStorage/QuotaManager
.dart_tool/chrome-device/Default/WebStorage/QuotaManager-journal
.dart_tool/chrome-device/Default/commerce_subscription_db/LOCK
.dart_tool/chrome-device/Default/commerce_subscription_db/LOG
.dart_tool/chrome-device/Default/commerce_subscription_db/LOG.old
.dart_tool/chrome-device/Default/discounts_db/LOCK
.dart_tool/chrome-device/Default/discounts_db/LOG
.dart_tool/chrome-device/Default/discounts_db/LOG.old
.dart_tool/chrome-device/Default/optimization_guide_hint_cache_store/LOCK
.dart_tool/chrome-device/Default/optimization_guide_hint_cache_store/LOG
.dart_tool/chrome-device/Default/optimization_guide_hint_cache_store/LOG.old
.dart_tool/chrome-device/Default/parcel_tracking_db/LOCK
.dart_tool/chrome-device/Default/parcel_tracking_db/LOG
.dart_tool/chrome-device/Default/parcel_tracking_db/LOG.old
.dart_tool/chrome-device/Default/shared_proto_db/000003.log
.dart_tool/chrome-device/Default/shared_proto_db/CURRENT
.dart_tool/chrome-device/Default/shared_proto_db/LOCK
.dart_tool/chrome-device/Default/shared_proto_db/LOG
.dart_tool/chrome-device/Default/shared_proto_db/LOG.old
.dart_tool/chrome-device/Default/shared_proto_db/MANIFEST-000001
.dart_tool/chrome-device/Default/shared_proto_db/metadata/000003.log
.dart_tool/chrome-device/Default/shared_proto_db/metadata/CURRENT
.dart_tool/chrome-device/Default/shared_proto_db/metadata/LOCK
.dart_tool/chrome-device/Default/shared_proto_db/metadata/LOG
.dart_tool/chrome-device/Default/shared_proto_db/metadata/LOG.old
.dart_tool/chrome-device/Default/shared_proto_db/metadata/MANIFEST-000001
build/cache.dill.track.dill
build/62298b36dd67f7dba448d3ddd224ec48/_composite.stamp
build/62298b36dd67f7dba448d3ddd224ec48/gen_dart_plugin_registrant.stamp
build/62298b36dd67f7dba448d3ddd224ec48/gen_localizations.stamp
build/flutter_assets/AssetManifest.bin
build/flutter_assets/AssetManifest.bin.json
build/flutter_assets/AssetManifest.json
build/flutter_assets/FontManifest.json
build/flutter_assets/NOTICES
build/flutter_assets/assets/fonts/Inter_28pt-Bold.ttf
build/flutter_assets/assets/fonts/Inter_28pt-ExtraBold.ttf
build/flutter_assets/assets/fonts/Inter_28pt-Medium.ttf
build/flutter_assets/assets/fonts/Inter_28pt-Regular.ttf
build/flutter_assets/assets/fonts/Inter_28pt-SemiBold.ttf
build/flutter_assets/assets/images/man.png
build/flutter_assets/assets/images/sign_up_image.png
build/flutter_assets/assets/images/The%20Little%20Things%20UI%20Design.png
build/flutter_assets/fonts/MaterialIcons-Regular.otf
build/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
build/flutter_assets/shaders/ink_sparkle.frag
.dart_tool/
build/
pubspec.lock
.vscode/settings.json
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake
lib/firebase_options.dart
